.logo {
  height: 45px;
  margin-right: 15px;

}

body {
  background: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 25px;
  
}

.nav-item {
  color: black;
  font-size: 17px;
  text-decoration: none;

}

.app-title {
  font-family: 'Times New Roman', Times, serif;
  background: #ffffff;
  border: 2px solid #d9d9d9;
  box-shadow: 0 4px #bfbfbf;
  border-radius: 50px;
  margin: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  position: sticky;
  left: 0;
  right: 0;
  top: 20px;
  z-index: 100;
}

.title {
  font-size: 22px;
  margin-right: auto;
  margin-left: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  background-color: #994a00;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 17px;
  padding: 6px 15px;
  cursor: pointer;
}

.hamburger-icon {
  height: 25px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 800px) {
  .app-title {
    margin: 20px 25px;
  }

  .navbar {
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 75px;
    right: 25px;
    padding: 15px;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    width: 150px;
    gap: 15px;
  }

  .navbar.show {
    display: flex;
  }

  .hamburger-icon {
    display: block;
  }
}


.main {
  padding: 50px 40px;
  background-color: #fff2e6;
}

.main h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #994a00;
  color: white;
  padding: 12px 25px;
  border-radius: 100px;
  font-size: 17px;
  padding: 6px 15px;
  cursor: pointer;
}


.course-info-container {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  max-width: 1200px;
  margin: auto;
}

.info-box {
  flex: 1;
  padding: 0 15px;
  border-right: 1px solid #e6e6e6;
}

.info-box:last-child {
  border-right: none;
}

.info-box h3 {
  font-size: 18px;
  color: #000;
  margin-bottom: 6px;
}

.info-box p {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}

.nav {

  background: white;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  top: 0;
  z-index: 100;
}

.nav a {
  margin-right: 25px;
  text-decoration: none;
  font-weight: 600;
  color: #555;
}

.nav a:hover {
  color: Black;
}

section {
  background: white;
  margin: 20px;
  padding: 30px;
  border-radius: 8px;
}

.content {
  padding: 40px;
  background: white;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

.skills span {
  display: inline-block;
  background: #fff2e6;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 20px;
}

.accordion-header {
  padding: 15px;
  background: #fff2e6;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.accordion-body {
  display: none;
  padding: 15px;
  background: #ffffff;
  border-left: 3px solid black;
}

.rating-bars div {
  margin: 8px 0;
}

.bar {
  display: inline-block;
  width: 200px;
  height: 8px;
  background: #ddd;
  margin-left: 10px;
  border-radius: 5px;
}

.bar span {
  display: block;
  height: 100%;
  background: black;
  border-radius: 5px;
}

.review-card {
  background: #f1f3f6;
  padding: 15px;
  margin-top: 15px;
  border-radius: 6px;
}



.footer {
  background-color: #f8f8f8;
  border-top: 2px solid #d9d9d9;
  font-family: 'Times New Roman', Times, serif;
  padding: 40px 20px 20px;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h2,
.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #222;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #000;
  padding-left: 5px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-logo {
  height: 28px;
  cursor: pointer;
  margin-top: 5px;
}

.social-logo:hover {
  transition: 0.3s;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #d9d9d9;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 14px;
  color: #666;
}

@media screen and (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .social-icons {
    justify-content: center;
  }

  .container {
    flex-direction: column;
    text-align: center;
  }

  .heading {
    font-size: 9px;
  }

  .image-section {
    width: 350px;
    height: 350px;
  }

  .image {
    height: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .caption {
    font-size: 14px;
    margin: auto;
  }

  .btn1 {
    font-size: 12px;
    padding: 8px 12px;
  }

  .card-container {
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .course-info-container {
  padding:0px;
   margin:0px;
   display:block;

}
.nav a{
  padding:6px;
  margin:0px;
  }

}
