* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.card {
  background: #fff;
  width: 330px;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  position: relative;
}

.card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.256);
  transform: translateY(-8px)scale(1.03);
  color: #111;
}

.card-img {
  width: 100%;
  height: 180px;
  border-radius: 12px;
  object-fit: contain;
  background: #f0f0f0;
}

.tag {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #e6f4ea;
  color: #2e7d32;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

.card h2 {
  margin: 12px 0 8px;
  font-size: 20px;
}

.desc {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
}

.info small {
  color: #777;
  font-size: 12px;
}

.info p {
  margin-top: 3px;
  font-weight: bold;
  font-size: 14px;
}

.author {
  font-size: 14px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #111;
  color: #fff;
  font-size: 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #333;
}
.btn-center {
  
}
.btn {
  display:block;
  text-decoration: none;
  background: #111;
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
  width: fit-content;
}

.btn:hover {
  background: #333;
  transform: translateY(-2px);
}


@media (max-width: 768px) {
  .card-container {
    justify-content: center;
  }
}


