.logo {
  height: 45px;
  margin-right: 15px;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #ddb892, #ede0d4);
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-item {
  color: black;
  font-size: 17px;
  text-decoration: none;
  white-space: nowrap;
}

.app-title {
  font-family: 'Times New Roman', Times, serif;
  background: #ffffff;
  border: 2px solid #d9d9d9;
  box-shadow: 0 4px #bfbfbf;
  border-radius: 50px;
  margin: -20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
  position: sticky;
  left: 0;
  right: 0;
  top: 20px;
  z-index: 100;
}

.title {
  font-size: 22px;
  margin-right: auto;
  margin-left: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  background-color: #994a00;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 17px;
  padding: 6px 15px;
  cursor: pointer;
}

.hamburger-icon {
  height: 25px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 800px) {
  .app-title {
    margin: 20px 25px;
  }

  .navbar {
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 75px;
    right: 25px;
    padding: 15px;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    width: 150px;
    gap: 15px;
  }

  .navbar.show {
    display: flex;
  }

  .hamburger-icon {
    display: block;
  }
}

/*pages*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ddb892, #ede0d4);
  padding: 40px;
}


.card-container {
  display: grid;
  gap: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  justify-content: center;

  align-items: stretch;

}

.card {
  background: #fff;
  width: 330px;

  min-height: 420px; 

  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  position: relative;


  box-sizing: border-box;
 

}

.card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.card.highlight {
  box-shadow: 0 0 25px rgba(0, 150, 255, 0.7);

}

.card-img {
  width: 100%;
  height: 180px;
  border-radius: 12px;
  object-fit: contain;
  background: #f0f0f0;
}

.tag {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #e6f4ea;
  color: #2e7d32;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

.card h2 {
  margin: 12px 0 8px;
  font-size: 20px;
}

.desc {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
}

.info small {
  color: #777;
  font-size: 12px;
}

.info p {
  margin-top: 3px;
  font-weight: bold;
  font-size: 14px;
}

.author {
  font-size: 14px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #111;
  color: #fff;
  font-size: 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #333;
}

.btn-center {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.btn1 {
  display: block;
  text-decoration: none;
  background: #994a00;
  color: #fff;
  padding: 10px 16px;
  border-radius: 20px;
  font-weight: 600;
  transition: 0.1s;
  width: fit-content;
}

.btn1:hover {
  background: #333;
  transition: 0.1s;

}


@media (max-width: 768px) {
  .card-container {
    justify-content: center;
  }
}

/*footer*/
.footer {
  background-color: #ffffff;
  border-top: 2px solid #d9d9d9;
  font-family: 'Times New Roman', Times, serif;
  padding: 40px 20px 20px;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h2,
.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #222;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #000;
  padding-left: 5px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-logo {
  height: 28px;
  cursor: pointer;
  margin-top: 5px;
}

.social-logo:hover {
  transition: 0.3s;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #d9d9d9;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 14px;
  color: #666;
}

@media screen and (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .social-icons {
    justify-content: center;
  }

  .container {
    flex-direction: column;
    text-align: center;
  }

  .heading {
    font-size: 9px;
  }

  .image-section {
    width: 350px;
    height: 350px;
  }

  .image {
    height: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .caption {
    font-size: 14px;
    margin: auto;
  }

  .btn1 {
    font-size: 12px;
    padding: 8px 12px;
  }

  .card-container {
    justify-content: center;
  }
}