.logo{
    height: 45px;
    margin-right: 15px;
    
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ddb892, #ede0d4);
    overflow-x: hidden;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-item{
  color: black;
  font-size: 17px;
  text-decoration: none;

}
.app-title{
    font-family:'Times New Roman', Times, serif;
     background: #ffffff;
     border: 2px solid #d9d9d9;
     box-shadow: 0 4px #bfbfbf;
     border-radius: 50px;
     margin: 20px 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 5px 20px;
     position: sticky;
     left: 0;
     right: 0;
     top: 20px;
     z-index: 100;
}
.title{
    font-size: 22px;
    margin-right: auto;
    margin-left: 10px;
    font-family:'Times New Roman', Times, serif;
}
.btn{
    background-color: #994a00;
    color: white;
    border:none;
    border-radius:100px ;
    font-size: 17px; 
    padding:6px 15px;
    cursor: pointer;
}
.hamburger-icon{
    height: 25px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 800px){
    .app-title{
        margin: 20px 25px;
    }
    .navbar{
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 75px;
        right: 25px;
        padding: 15px;
        border: 2px solid #d9d9d9;
        border-radius: 10px;
        width: 150px;
        gap: 15px;
    }
    .navbar.show{
        display: flex;
    }
    .hamburger-icon{
        display: block;
    }
}
.footer {
    background-color:  	#ffe4cc;
    border-top: 2px solid #d9d9d9;
    font-family: 'Times New Roman', Times, serif;
    padding: 40px 20px 20px;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    gap: 40px;
}

.footer-section {
   flex: 1;
   min-width: 250px;
}

.footer-section h2, .footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #222;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #000;
    padding-left: 5px;
}
.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-logo {
    height: 28px;
    cursor: pointer;
    margin-top: 5px;
}
.social-logo:hover {
    transition: 0.3s;
}
.footer-bottom {
    text-align: center;
    border-top: 1px solid #d9d9d9;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 14px;
    color: #333;
}
@media screen and (max-width: 700px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .social-icons {
        justify-content: center;
    }
     .container {
        flex-direction: column;
        text-align: center;
    }

    .heading {
        font-size: 9px;
    }

    .image-section {
      width: 350px;
        height: 350px;
    }
     .image {
       height: 300px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .caption {
        font-size: 14px;
        margin: auto;
    }
    .btn1 {
        font-size: 12px;
        padding: 8px 12px;
    }
    .card-container {
        justify-content: center;
    }
}
.container{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    gap: 20px;
    background-color: #fff2e6;
   border-radius: 20px;
}
.heading{
    font-size: 60px;
    
}
.caption{
    max-width: 450px;
    margin-top: 20px;
    font-size: 20px;
}
.btn1{
    padding: 10px;
   background-color: #e6e6e6;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 50px;
     cursor: pointer;
     font-size: 15px;
}
.btn1:hover{
    background-color: #bfbfbf;
}
.course-section {
    margin: auto;
   max-width: 1250px;
      background-color: #ddb892;
      padding-top: 40px;
      padding-left: 30px;
  
}
.course-title {
    font-size: 20px;
    margin-bottom: 10px;
   
}

.card {
 background: #fff;
    width: 260px;
    padding: 20px 20px;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}
.card:hover{
     box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.card-img {
  width: 100px;
  height: 90px;
  border-radius: 12px;
  background: #f0f0f0;
}
.tag {
  display: inline-block;
  right: 20px;
  margin-top: 30px;
  background: #e6f4ea;
  color: #2e7d32;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}
.card-container {
 display: flex;
    gap: 25px;
    flex-wrap: wrap;
    
}
.image-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #994a00;
    border-radius: 50%;
    width: 500px;
    height: 500px;
     margin: auto;
 
}
.image{
    height: 450px;
    margin-bottom: 50px;
    margin-left: 40px;
}
.btn2{
    background-color: #994a00;
    color: white;
    border:none;
    border-radius:100px ;
    font-size: 17px; 
    padding:6px 15px;
    cursor: pointer;
}
@media (max-width: 480px) {
    .image-section {
        width: 250px;
        height: 250px;
    }

    .image {
        height: 200px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}
.theme-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}
.theme-toggle {
     width: fit-content;
            height: 25px;
            background: #ccc;
            border-radius: 50px;
            position: relative;
            cursor: pointer;
            padding: 2px 10px;
            border: 2px solid orange;
}
 .theme-toggle-light {
            background-color: #ffffff;
            border: 2px solid #000000;
        }
        .theme-toggle-dark {
            background-color: #333333;
            border:2px solid #ffffff;
        }
