.logo{
    height: 45px;
    margin-right: 15px;
    
}
body{
    margin: 0;
    padding: 0;
    background-color:#ffffff;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-item{
  color: black;
  font-size: 17px;
  text-decoration: none;

}
.app-title{
    font-family:'Times New Roman', Times, serif;
     background: #ffffff;
     border: 2px solid #d9d9d9;
     box-shadow: 0 4px #bfbfbf;
     border-radius: 50px;
     margin: 20px 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 5px 20px;
     position: sticky;
     left: 0;
     right: 0;
     top: 20px;
     z-index: 100;
}
.title{
    font-size: 22px;
    margin-right: auto;
    margin-left: 10px;
     font-family:'Times New Roman', Times, serif;
}
.btn{
    background-color: black;
    color: white;
    border:none;
    border-radius:100px ;
    font-size: 17px; 
    padding:6px 15px;
    cursor: pointer;
}
.hamburger-icon{
    height: 25px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 800px){
    .app-title{
        margin: 20px 25px;
    }
    .navbar{
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 75px;
        right: 25px;
        padding: 15px;
        border: 2px solid #d9d9d9;
        border-radius: 10px;
        width: 150px;
        gap: 15px;
    }
    .navbar.show{
        display: flex;
    }
    .hamburger-icon{
        display: block;
    }
}
.footer {
    background-color: #f8f8f8;
    border-top: 2px solid #d9d9d9;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    margin-top: 300px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
  
   flex: 1;
   min-width: 200px;
   margin-left: 50px;
}

.footer-section h2, .footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-section p {
    font-size: 14px;
    margin-bottom: 15px;
}

.footer-section ul {
    text-decoration: none;
    padding: 0;
}

.footer-section ul li {
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #000;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-logo {
    height: 25px;
    transition: transform 0.3s;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #d9d9d9;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 13px;
    color: #666;
}
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .social-icons {
        justify-content: center;
    }
}
