
.logo{
    height: 45px;
    margin-right: 15px;
    
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color:  #ffe4cc ;
   
}
.navbar{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-item{
  color: black;
  font-size: 17px;
  text-decoration: none;

}
.app-title{
    font-family:'Times New Roman', Times, serif;
     background: #ffffff;
     border: 2px solid #d9d9d9;
     box-shadow: 0 4px #bfbfbf;
     border-radius: 50px;
     margin: 20px 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 5px 20px;
     position: sticky;
     left: 0;
     right: 0;
     top: 20px;
     z-index: 100;
}
.title{
    font-size: 22px;
    margin-right: auto;
    margin-left: 10px;
    font-family:'Times New Roman', Times, serif;
}
.btn{
    background-color: #994a00;
    color: white;
    border:none;
    border-radius:100px ;
    font-size: 17px; 
    padding:6px 15px;
    cursor: pointer;
}
.hamburger-icon{
    height: 25px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 800px){
    .app-title{
        margin: 20px 25px;
    }
    .navbar{
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 75px;
        right: 25px;
        padding: 15px;
        border: 2px solid #d9d9d9;
        border-radius: 10px;
        width: 150px;
        gap: 15px;
    }
    .navbar.show{
        display: flex;
    }
    .hamburger-icon{
        display: block;
    }
}
.container{
    width:90%;
    max-width:700px;
    background:#ddb892;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    margin: auto;
    margin-top:70px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

#searchInput{
    width:95%;
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
    margin-bottom:50px;
    font-size:16px;
}

.input-box{
    display:flex;
    flex-direction:column;
    gap:12px;
    margin-bottom:25px;
}

.input-box input, .input-box textarea{
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
}

.input-box button{
    padding:12px;
    background:#994a00;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    font-weight:bold;
}

.notes-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:15px;
}

.note{
    padding:15px;
    border-radius:10px;
    color:white;
    position:relative;
    word-wrap:break-word;
    min-height:130px;
}

.note h3{
    margin-bottom:8px;
}

.note-buttons{
    position:absolute;
    bottom:10px;
    right:10px;
}

.note-buttons button{
    margin-left:5px;
    padding:6px 12px;
    border:none;
    border-radius:5px;
    font-size:12px;
    cursor:pointer;
    color:white;
}
.delete{ background:#ff4d4d; }

.footer {
    background-color: white ;
    border-top: 2px solid #d9d9d9;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 10px 10px;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    gap: 40px;
}

.footer-section {
   flex: 1;
   min-width: 250px;
}

.footer-section h2, .footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #222;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #000;
    padding-left: 5px;
}
.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-logo {
    height: 28px;
    cursor: pointer;
    margin-top: 5px;
}
.social-logo:hover {
    transition: 0.3s;
}
.footer-bottom {
    text-align: center;
    border-top: 1px solid #d9d9d9;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 14px;
    color: #333;
}
@media screen and (max-width: 700px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .social-icons {
        justify-content: center;
    }
}