.logo{
    height: 45px;
    margin-right: 15px;
}
body{
    margin: 0;
    padding: 0;
    background-color : #ffe4cc;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-item{
  color: black;
  font-size: 17px;
  text-decoration: none;

}
.app-title{
    font-family:'Times New Roman', Times, serif;
     background: #ffffff;
     border: 2px solid #d9d9d9;
     box-shadow: 0 4px #bfbfbf;
     border-radius: 50px;
     margin: 20px 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 5px 20px;
     position: sticky;
     left: 0;
     right: 0;
     top: 20px;
     z-index: 100;
}
.title{
    font-size: 22px;
    margin-right: auto;
    margin-left: 10px;
     font-family:'Times New Roman', Times, serif;
}
.btn{
    background-color: #994a00;
    color: white;
    border:none;
    border-radius:100px ;
    font-size: 17px; 
    padding:6px 15px;
    cursor: pointer;
}
.hamburger-icon{
    height: 25px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 800px){
    .app-title{
        margin: 20px 25px;
    }
    .navbar{
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 75px;
        right: 25px;
        padding: 15px;
        border: 2px solid #d9d9d9;
        border-radius: 10px;
        width: 150px;
        gap: 15px;
    }
    .navbar.show{
        display: flex;
    }
    .hamburger-icon{
        display: block;
    }
}
 .card-container{
            border: 1px solid black;
            background-color:  #ddb892;
            border: none;
            max-width: 800px;     
            margin: 40px auto;   
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 8px 20px rgba(0,0,0,0.1);
            height: auto;
            
        }
         .container {
           display: flex;
           align-items: center;
           justify-content: center;
           background-color: #ddb892;
           border-radius: 10px;
        }

        .todo-add-container{
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
          #todo-items-container{
            margin-top: 30px;
            width: 100%;
        }
          #todo-input{
            padding: 7px;px 20px;
            width: 40%;
            margin-right: 10px;
            font-size: 20px;
            border: 1px solid black;
            border-radius: 17px;
        }
          #add-btn{
            padding: 10px 50px;
            border-radius: 20px;
            font-size: 16px;
            border: none;
            background-color: #994a00;
            color: white;
            cursor: pointer;
        }
          .todo-item{
            background-color: #994a00;
            color: white;
            padding: 10px;
            margin: 10px auto;
            width: 40%;
            border-radius: 10px;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
         .delete-btn{
            height: 30px;
            width: 30px;
            cursor: pointer;
        }
         #clear-btn{
            display: block;
            margin: 30px auto;
            padding: 10px 50px;
            border-radius: 20px;
            font-size: 16px;
            border: none;
            background-color: #994a00;
            color: white;
            cursor: pointer;
        }
         @media screen  and (max-width: 600px) {
            #todo-input {
                width: 80%;
            }
             .todo-item {
                width: 80%;
            }
            .container-img {
                margin-left: 20px;
            }
            
        }

     .footer {
    background-color:  	#ffffff;
    border-top: 2px solid #d9d9d9;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 10px 10px;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    gap: 40px;
}

.footer-section {
   flex: 1;
   min-width: 250px;
}

.footer-section h2, .footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #222;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #000;
    padding-left: 5px;
}
.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-logo {
    height: 28px;
    cursor: pointer;
    margin-top: 5px;
}
.social-logo:hover {
    transition: 0.3s;
}
.footer-bottom {
    text-align: center;
    border-top: 1px solid #d9d9d9;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 14px;
    color: #666;
}
@media screen and (max-width: 700px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .social-icons {
        justify-content: center;
    } }